.contacts
    a.contact(href="tel:+00000")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 6337 3128

    a.contact(href="mailto:mail@mail.ru")
        i.fa.fa-envelope.contact__icon.contact__icon-email(aria-hidden="true")
        span.contact__text info@business.co

    a.facebook__icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")